
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}


.login-page-doctor {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  height: 100vh;
  background-image: url('../../Assests/doclogin.jpg');
  background-size: cover;
  background-position: center;
  padding-left: 60px; 
}


.login-card {
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
  text-align: center;
}


.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  box-sizing: border-box;
}


/* .button-group {
  margin-top: 20px;
}


.login-buttonn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #1e88e5;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-buttonn:hover:enabled {
  background-color: #1565c0;
} */


.forgot-password {
  margin-top: 15px;
  text-align: center;
}

.forgot-password a {
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}
