 
body, html {
    height: 100%;
    margin: 0;
}


.admin-forgot-password-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../Assests/adpass.jpg'); 
    background-size: cover;
    background-position: center;
}


.admin-forgot-password-card {
    background-color: rgba(255, 255, 255, 0.85); 
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    text-align: center;
    border: 1px solid #ddd;
}


.forgot-password-card h1 {
    font-size: 26px;
    color: #4694ac;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    text-align: center;
}


.input-group {
    margin-bottom: 20px;
    text-align: left;
    font-family: 'Arial', sans-serif;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 12px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
}


.input-group input:focus {
    border-color: #30888f;
    outline: none;
}


.submit-button {
    width: 100%;
    padding: 14px;
    background-color: #52b1ce; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #600000; 
}

.forgot-password-card p {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
    font-family: 'Arial', sans-serif;
}


@media screen and (max-width: 768px) {
    .forgot-password-card {
        padding: 30px;
        width: 80%;
        max-width: 400px;
    }

    .forgot-password-card h1 {
        font-size: 22px;
    }

    .input-group input {
        padding: 10px;
    }

    .submit-button {
        padding: 12px;
    }
}

@media screen and (max-width: 480px) {
    .forgot-password-card {
        padding: 20px;
        width: 90%;
    }

    .forgot-password-card h1 {
        font-size: 20px;
    }

    .input-group input {
        padding: 8px;
    }

    .submit-button {
        padding: 10px;
    }
} 
