
.sidebar {
    width: 250px; 
    height: 100vh; 
    background-color: #343a40; 
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 30px;
    transition: width 0.3s ease;
}

.sidebar.collapsed {
    width: 80px; 
}


.sidebar-header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}


.nav-link {
    color: white;
    padding: 8px 20px; 
    font-size: 1rem; 
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid #444; 
    text-decoration: none;
}

.nav-link:hover {
    background-color: #495057; 
}


.nav-link .fa {
    font-size: 1.5rem;
    margin-right: 15px; 
}

.nav-link span {
    transition: opacity 0.3s ease;
}


.sidebar.collapsed .nav-link span {
    opacity: 0;
}


.toggle-btn {
    position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #343a40;
    color: white;
    padding: 12px;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1000;
    margin-bottom: 800px;
}


.fa {
    font-size: 1.5rem;
}


@media (max-width: 992px) {
    .sidebar {
        width: 100%; 
    }

    .sidebar.collapsed {
        width: 100%;
    }

    .toggle-btn {
        display: none; 
    }

    .nav-link {
        padding: 8px 15px;
    }
}
